.modal-backdrop {
    z-index: 20;
}

.navbar {
    z-index: 40;
}

#login, #logout, #signup {
    display: inline;
    padding-right: 5px;
}

#user-greetings {
    color: white;
    display: inline;
}

#user-data {
    display: inline;
}

#setting-modal {
    display: inline;
}

.card {
    display: inline-block;
}